In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
# Webpage Url

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [ ]:
#  fetching the data

In [4]:
page = requests.get (url)

In [ ]:
# get request response

In [5]:
print(page)

<Response [200]>

In [ ]:
# Parsing the HTML content

In [6]:
soup = BeautifulSoup(page.text, "html")

In [9]:
# extracting all tables

In [13]:
soup.find_all("table")

In [ ]:
# Selecting the required table

In [19]:
table = soup.find_all("table")[1]

In [ ]:
# extracting the headers

In [96]:
headings = table.find_all("th")

In [98]:
headings_titles = [title.text.strip() for title in headings]

In [99]:
headings_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [ ]:
# ïmporting the pandas library for dataframe creation

In [100]:
import pandas as pd

In [101]:
df = pd.DataFrame(columns = headings_titles)

In [102]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [104]:
# extracting the row data

In [103]:
column_data = table.find_all("tr")

In [ ]:
# appending each row data to the dataframe

In [105]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    each_row_data =[data.text.strip() for data in row_data]
    df = df.append(pd.Series(each_row_data, index=df.columns), ignore_index=True)

In [106]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [ ]:
# exporing dataframe as CSV

In [ ]:
df.to_csv(r"path\filename", index = false)